@import "../../../node_modules/@picocss/pico/css/pico.css";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
    height: 200px;
}

textarea {
    width: 80%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#output {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #201b1b;
    min-height: 50px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #888;
}
